/* MOBILE MENU */
@media screen and (max-width: 1200px) {
  .mobile-menu-btn {
    display: block;
  }
}

/* HEADER */
@media screen and (max-width: 1200px) {
  .header-top {
    display: none;
  }
  
  .header-btm-logo {
    visibility: visible;
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 190px;
    height: 40px;
  }

  .header-btm {
    height: 60px;
    white-space: nowrap;
  }
  
  .header-gnb {
    display: none;
  }

  .header-icon {
    top: 40%;
    right: 3%;
  }

  .header-gnb > li > a::before {
    top: 7px;
  }

  .header-scroll .header-icon {
    right: 3%;
  }
}

/* VISUAL */
@media screen and (max-width: 1200px) {
  .visual-main {
    height: 66vw;
  }
}

/* INTRO */
@media screen and (max-width: 900px) {
  .intro {
    padding-top: 80px;
  }

  .intro > p {
    line-height: 1.7;
    margin-bottom: 90px;
  }

  .intro-main {
    width: 80%;
    margin: 0 auto;
  }

  .intro-main li {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 820px) {
  .intro > p br {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .intro h2 {
    margin-bottom: 30px;
  }

  .intro > p {
    /* display: none; */
    font-size: 15px;
    margin-bottom: 70px;
  }

  .intro-main li a h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 22px;
  }

  .intro-main li a p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 15px;
  }
}

/* BEST */
@media screen and (max-width: 1200px) {
  .best-item {
    width: auto;
  }

  .best-item > li {
    width: 360px;
  }

  .shopping-btn {
    bottom: 10%;
  }
}

@media screen and (max-width: 850px) {
  .best-item > li {
    width: 300px;
  }

  .shopping-group img {
    width: 100%;
    margin-bottom: 15px;
  }

  .best-item li h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 35px;
    padding-bottom: 8px;
  }

  .best-item li p {
    display: none;
  }

  .shopping-btn {
    bottom: 8%;
  }
}

@media screen and (max-width: 750px) {
  .best-item > li {
    width: 280px;
  }

  .best-item {
    min-width: 560px;
  }
}

/* NEW */
@media screen and (max-width: 1500px) {
  .new-item {
    width: 70%;
  }

  .new-item li {
    width: 50%;
  }

  .new-item .shopping-group {
    width: 75%;
  }

  .new-item li h3 {
    -webkit-line-clamp: 1;
    height: 27px;
  }

  .new-item li span {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .new-item {
    min-width: 720px;
  }
}

@media screen and (max-width: 850px) {
  .new {
    margin: 0 5% 100px;
  }

  .new-item {
    min-width: 600px;
  }
}

@media screen and (max-width: 750px) {
  .new-item {
    min-width: 560px;
  }
}

/* BRAND */
@media screen and (max-width: 1450px) {
  .brand .inner {
    width: auto;
    margin: 0 5%;
  }

  .brandstory-txt p br {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .brandstory-txt p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 900px) {
  .brand {
    height: 1050px;
  }

  .brand .inner {
    width: auto;
    height: auto;
    margin: 0 10%;
  }

  .brandstory {
    display: block;
  }

  .brandstory-img {
    width: 100%;
    height: 250px;
  }

  .brandstory-txt {
    width: 100%;
    height: 380px;
    padding: 50px 50px;
  }

  .brandstory-txt a {
    bottom: 50px;
  }
}

/* REVIEW */
@media screen and (max-width: 1450px) {
  .review .inner {
    width: auto;
    margin: 0 5%;
  }
}

@media screen and (max-width: 1200px) {
  .review-list li {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 900px) {
  .review .inner {
    margin: 0 10%;
  }
}

/* FOOTER */
@media screen and (max-width: 1150px) {
  .footer-top {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .footer {
    padding-top: 30px;
  }

  .footer-top {
    padding-bottom: 40px;
    padding-left: 30px;
  }

  .footer-top-cs {
    display: none;
  }

  .footer-top-company {
    width: 100%;
  }

  .footer-top-bank {
    display: none;
  }

  .footer-top li p {
    text-align: left;
    margin-bottom: 5px;
  }

  .footer-top li span {
    text-align: left;
    line-height: 1.5;
  }

  .footer-top li span strong {
    margin-left: 0;
  }
}

@media screen and (max-width: 820px) {
  .footer-btm {
    display: none;
  }
}