@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR&display=swap');

@font-face {
  font-family: 'EliceDigitalBaeum_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat','Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum,'돋움','AppleGothic','Apple SD Gothic Neo',sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  color: #111;
}

/* === 공통요소 === */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 1300px;
  margin: 0 auto;
}

.section-title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 48px;
}

.section-title::after {
  content: '';
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 35px;
  height: 2px;
  background: #111;
}

.section-txt {
  font-size: 16px;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  color: #aaa;
  margin-bottom: 60px;
}

/* === 개별요소 === */
/* FIX CONTROLLER */
.fc-controller {
  position: relative;
  display: block;
  z-index: 9999;
}

.fc-sns {
  position: fixed;
  right: 10px;
  top: 40%;
}

.fc-sns a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 0;
  margin-bottom: 5px;
}

.fc-sns-kakao {
  background: #000 url('../images/fc-kakao.png') no-repeat center;
}

.fc-sns-insta {
  background: #000 url('../images/fc-insta.png') no-repeat center;
}

.fc-moving {
  position: fixed;
  right: 10px;
  bottom: 20px;
}

.fc-moving a {
  display: block;
  width: 40px;
  font-size: 0;
}

.fc-moving-gotop {
  height: 41px;
  background: url(../images/fc-top.png);
}

.fc-moving-gobtm {
  height: 42px;
  background: url(../images/fc-btm.png);
}

/* HEADER */
.header {
  position: relative;
  display: block;
  z-index: 9999;
}

.header-top {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  z-index: 1;
}

.header-top .header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 285px;
  height: 52px;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
  font-size: 0;
}

.header-top-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  display: block;
  height: 80px;
}

.header-top-left > li {
  position: relative;
  display: block;
  height: 100%;
  float: left;
  font-size: 13px;
  line-height: 80px;
}

.header-top-left > li span {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #aaa;
  margin-left: 3px;
  margin-right: 44px;
}

.header-top-left > li:first-child::after {
  content: '';
  position: absolute;
  left: 170px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 40px;
  background: #ececec;
}

.header-top-left > li > a {
  padding-left: 18px;
  letter-spacing: 0.06em;
}

.header-top-left > li img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.comu-list {
  position: absolute;
  top: 70%; 
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 150px;
  padding: 20px 10px 20px 20px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #ececec;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
}

.header-top-left li:hover .comu-list {
  display: block;
}

.comu-list li:hover > a {
  color: #000;
}

.comu-list li a {
  display: block;
  font-size: 15px;
  line-height: 25.5px;
  color: #aaa;
  white-space: nowrap;
  padding: 0 10px;
}

.header .depth2 li:hover > a {
  color: #000;
}

.header-top-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.header-top-right li {
  float: left;
  margin-left: 25px;
}

.header-top-right li a {
  font-size: 12px;
  line-height: 20px;
  color: #999;
}


.header-btm {
  position: relative;
  width: 100%;
  height: 75px;
  transition: height 0.3s;
}

/* Mobile Menu */
.mobile-menu-btn {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 27px;
  height: 23px;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.3s;
}

.mobile-menu-btn span::after {
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
  display: block;
  width: 23px;
  height: 3px;
  background: #333;
}

.mobile-menu-btn span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 23px;
  height: 3px;
  background: #333;
  font-size: 0;
}

.mobile-menu-btn span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  display: block;
  width: 23px;
  height: 3px;
  background: #333;
}

.header-btm-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  width: 165px;
  height: 30px;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.header-gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 738.41px;
}

.header-gnb > li {
  position: relative;
  float: left;
}

.header-gnb > li > a {
  font-size: 18px;
  font-family: 'EliceDigitalBaeum_Regular', serif;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #000;
  padding: 8px 0 25px 0;
  margin: 3px 25px 0 25px;
  transition: all 0.3s;
}

.header-gnb > li > a::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #000;
}

.header-gnb > li:hover > a::before {
  display: block;
}

.header .depth2 {
  position: absolute;
  top: 150%; 
  left: 0;
  display: none;
  width: 150px;
  padding: 15px 20px 15px 15px;
  background: rgba(250, 250, 250, 0.95);
  border: 1px solid #ececec;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.04);
}

.header-gnb > li:hover .depth2 {
  display: block;
}

.header .depth2 li a {
  display: block;
  font-size: 13px;
  line-height: 25px;
  color: #aaa;
  white-space: nowrap;
  padding: 0 10px;
}

.header .depth2 li:hover > a {
  color: #000;
}

.header-icon {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 5%;
  transition: top 0.3s;
}

.header-cart {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/header-cart.png) no-repeat center;
  background-size: 80%;
  font-size: 0;
}

.header-cart-number {
  position: absolute;
  top: 10px;
  left: 20px;
  display: block;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background: #111;
}

.header-search {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/header-search.png) no-repeat center;
  background-size: 80%;
  font-size: 0;
  margin-left: 20px;
}

/* Scroll Fixed Header */
.header-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 41px;
  background: #fff;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

.header-scroll .header-btm-logo {
  visibility: visible;
  opacity: 1;
}

.header-scroll .header-gnb {
  width: auto;
}

.header-scroll .header-gnb > li > a {
  font-size: 14px;
  line-height: 41px;
  margin: 0 20px;
}

.header-scroll .header-icon {
  top: 40%;
  right: 5%;
}

.header-scroll .header-gnb > li > a::before {
  top: 7px;
}

.header-scroll .depth2 {
  top: 99.5%; 
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.04);
}

/* VISUAL */
.visual {
  position: relative;
  display: block;
}

.visual-main {
  display: block;
  width: 100%;
  height: calc(100vh - 155px);
  background: url('../images/visual_1.jpg') no-repeat 50% 0%;
  background-size: cover;
  margin: 0 auto;
  transition: height 0.3s;
}

/* INTRO */
.intro {
  position: relative;
  display: block;
  margin: 0 5%;
  padding-top: 120px;
}

.intro span {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #111;
  margin-bottom: 20px;
}

.intro h2 {
  display: block;
  width: 100%;
  font-size: 45px;
  font-family: 'Noto Serif KR', serif;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.08em;
  margin-bottom: 40px;
}

.intro > p {
  display: block;
  width: 100%;
  font-size: 17px;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;
  color: #888;
  margin-bottom: 120px;
}

.intro-main {
  position: relative;
  display: block;
  width: 100%;
}

.intro-main li {
  width: calc(100% / 3);
  font-family: 'EliceDigitalBaeum_Regular',serif;
  text-align: center;
  line-height: 1.4;
  float: left;
}

.intro-main li a img {
  width: 100%;
  margin-bottom: 25px;
}

.intro-main li a h3 {
  width: 90%;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.08em;
  margin: 0 auto;
  margin-bottom: 10px;
}

.intro-main li a p {
  width: 90%;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: #888;
  margin: 0 auto;
  background-attachment: fixed;
}

/* BEST */
.best {
  position: relative;
  display: block;
  text-align: center;
  margin: 150px 5%;
}

.best-item {
  display: inline-block;
  width: 67%;
  margin: 0 auto;
}

.best-item li {
  position: relative;
  width: 50%;
  float: left;
}

.best-item li h3 {
  display: block;
  width: 85%;
  font-size: 18px;
  font-weight: 600;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  letter-spacing: -0.03em;
  padding-bottom: 12px;
  border-bottom: 1px solid #ececec;
  margin: 0 auto 8px;
}

.best-item li span {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.best-item li p {
  font-size: 16px;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  color: #aaa;
  margin-bottom: 4px;
}

.best-item .shopping-group {
  position: relative;
  display: block;
  width: 85%;
  margin: 0 auto;
}

.shopping-group button {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 25px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Montserrat','Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum,'돋움','AppleGothic','Apple SD Gothic Neo',sans-serif;
  line-height: 25px;
  text-align: center;
  color: #555;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 15px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.shopping-group button b {
  font-weight: 700;
}

.shopping-group img {
  width: 100%;
  margin-bottom: 25px;
}

.shopping-btn {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.best-item li:hover .shopping-group button {
  top: 4%;
  visibility: visible;
  opacity: 100;
}

.best-item li:hover .shopping-btn {
  visibility: visible;
  opacity: 100; 
}

.shopping-btn li {
  display: inline-block;
  width: 32px;
  height: 30px;
  
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}

.shopping-btn li:last-child {
  border: 1px solid #e1e1e1;
}

.shopping-cart {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff url('../images/shopping-btn-cart.png') no-repeat center;
  background-size: cover;
}

.shopping-info {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff url('../images/shopping-btn-serch.png') no-repeat center;
  background-size: cover;
}

.shopping-blank {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff url('../images/shopping-btn-blank.png') no-repeat center;
  background-size: cover;
}

.shopping-btn li p {
  display: none;
  white-space: nowrap;
  background: rgba(240, 240, 240, 0.9);

  color: #777;
  font-size: 11px;
  font-family: 'Montserrat','Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum,'돋움','AppleGothic','Apple SD Gothic Neo',sans-serif;
  padding: 4px 6px;
}

.shopping-btn li:hover > p {
  display: block;
  width: fit-content;
}

/* NEW */
.new {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 5% 200px;
}

.new-item {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
}

.new-item li {
  width: 25%;
  float: left;
}

.new-item .shopping-group {
  position: relative;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.new-item .shopping-group img {
  width: 100%;
  margin-bottom: 20px;
}

.new-item li h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  width: 90%;
  height: 50.4px;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin: 0 auto;
  margin-bottom: 12px;
}

.new-item li span {
  display: block;
  width: 90%;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  border-top: 1px solid #ececec;
  margin: 0 auto;
  margin-top: 12px;
  padding-top: 12px;
}

.new-item .shopping-btn {
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.new-item li:hover .shopping-group button {
  top: 4%;
  visibility: visible;
  opacity: 100;
}

.new-item li:hover .shopping-btn {
  visibility: visible;
  opacity: 100; 
}

.new-item .shopping-btn li {
  display: inline-block;
  width: 32px;
  height: 30px;
  
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}

/* BRAND */
.brand {
  position: relative;
  display: block;
  background: #f5f5f5;
  padding-bottom: 120px;
}

.brand-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  background: url('../images/brand-bg.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.brand .inner {
  width: 1300px;
  margin: 0 auto;
}

.brand h2 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1em;
  padding-top: 105px;
  margin-bottom: 130px;
  color: #fff;
}

.brand h2::after {
  content: '';
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 35px;
  height: 2px;
  background: #fff;
}

.brandstory {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 433px;
}

.brandstory > img {
  width: 50%;
  height: 433px;
}

.brandstory-txt {
  position: relative;
  width: 50%;
  background: #fff url('../images/brandstory-bg.png') no-repeat center;
  background-size: cover;
  padding: 70px 50px;
}

.brand-logo {
  display: block;
  width: 235px;
  height:33px;
}

.brandstory-txt p {
  font-size: 18px;
  font-weight: 300;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  line-height: 1.6;
  letter-spacing: -0.02em;
  color: #656565;
  margin-top: 30px;
}

.brandstory-txt a {
  display: inline-block;
  height: 45px;
  font-size: 17px;
  font-weight: 400;
  color: #222;
  padding: 12px 35px;
  border: 1px solid #9b9b9b;
  margin-top: 70px;
}

.icon-right {
  font-size: 12px;
  vertical-align: 15%;
  margin-left: 7px;
}

/* REVIEW */
.review {
  position: relative;
  display: block;
  background: #f5f5f5;
  padding-bottom: 90px;
}

.review .inner {
  width: 1300px;
  margin: 0 auto;
}

.review-list {
  padding-top: 20px;
  margin-bottom: 70px;
}

.review-list li {
  position: relative;
  display: block;
  width: calc(100% / 4);
  float: left;
  border-right: 1px solid #f5f5f5;
  background: #fff;
  transition: transform 0.3s;
}

.review-list li:hover {
  transform: translateY(-1.5%);
}

.review-list li a img {
  width: 100%;
}

.review-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  width: 90%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: #333;
  text-align: center;
  margin: 20px auto;
}

.review-txt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  width: 90%;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: #999;
  text-align: center;
  margin: 15px auto;
}

.review-list li > img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

.review-more {
  display: block;
  width: 123px;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  padding: 12px 30px 10px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* MEDIA */
.media {
  position: relative;
  display: block;
  margin-top: 80px;
}

.media video {
  width: 100vw;
  margin-top: 30px;
}

.media video[poster] {
  width: 100%;
  height: 100%;
}

/* FOOTER */
.footer {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 70px;
}

.footer-top {
  display: block;
  width: 100%;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 70px;
}

.footer-top li {
  float: left;
}

.footer-top li p {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000;
  margin-bottom: 25px;
}

.footer-top li span {
  display: block;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  line-height: 1.7;
  color: #222
}

.footer-top li span strong {
  color: #555;
  margin-left: 10px;
  margin-right: 5px;
}

.footer-top li span strong:first-child {
  margin-left: 0;
}

.footer-top li span a {
  font-weight: 700;
  color: #53302b;
  margin-left: 5px;
}

.footer-top-cs {
  width: 300px;
}

.footer-top-cs h3 {
  font-size: 33px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #222;
  text-align: center;
  margin-bottom: 25px;
}

.footer-top-company {
  width: 550px;
}

.footer-top-bank {
  width: 300px;
}

.footer-top-bank span {
  font-size: 15px !important;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.footer-top-bank span strong {
  font-size: 13px !important;
}

.footer-btm {
  border-top: 1px solid #e1e1e1;
  padding: 35px 0 25px;
}

.img-position1 {
  padding-bottom: 3px;
}

.img-position2 {
  padding-bottom: 9px;
}

.footer-btm span {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: #888;
  margin: 0 10px 0 5px;
}

.footer-btm button {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: #777;
  background: #eee;
  border: none;
  padding: 5px 15px;
  margin-left: 2px;
  cursor: pointer;
}


.footer-btm-1, .footer-btm-2 {
  display: block;
  width: fit-content;
  margin: 0 auto 10px;
}