@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR&display=swap');

@font-face {
  font-family: 'EliceDigitalBaeum_Regular';
  src: url('../fonts/EliceDigitalBaeum_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat','Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum,'돋움','AppleGothic','Apple SD Gothic Neo',sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  color: #111;
}

/* === 공통요소 === */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 1300px;
  margin: 0 auto;
}

/* === 개별요소 === */
/* HEADER */
.header {}

.header-top {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 285px;
  height: 52px;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
  font-size: 0;
}

.header-top-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.header-top-left li {
  position: relative;
  float: left;
  font-size: 13px;
  line-height: 20px;
}

.header-top-left li span {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #aaa;
  margin-left: 3px;
  margin-right: 44px;
}

.header-top-left li:first-child::after {
  content: '';
  position: absolute;
  left: 170px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 40px;
  background: #ececec;
}

.header-top-left li a {
  padding-left: 18px;
  letter-spacing: 0.06em;
}

.header-top-left li img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.header-top-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.header-top-right li {
  float: left;
  margin-left: 25px;
}

.header-top-right li a {
  font-size: 12px;
  line-height: 20px;
  color: #999;
}

.header-btm {
  position: relative;
  width: 100%;
  height: 75px;
}

.header-gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.header-gnb li {
  float: left;
}

.header-gnb li a {
  font-size: 18px;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #000;
  padding: 8px 0 25px 0;
  margin: 3px 25px 0 25px;
}

.header-icon {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 5%;
}

.header-cart {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/header-cart.png) no-repeat center;
  background-size: 80%;
  font-size: 0;
}

.header-cart-number {
  position: absolute;
  top: 10px;
  left: 20px;
  display: block;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background: #111;
}

.header-search {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/header-search.png) no-repeat center;
  background-size: 80%;
  font-size: 0;
  margin-left: 20px;
}

.scroll-header {
  position: relative;
  width: 100%;
  height: 41px;
  background: pink;
}

.scroll-header .header-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  display: block;
  width: 165px;
  height: 30px;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
  font-size: 0;
}

.scroll-header .header-gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.scroll-header .header-gnb li {
  float: left;
}

.scroll-header .header-gnb li a {
  font-size: 14px;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0.06em;
  color: #000;
  margin: 0 20px;
}

.scroll-header .header-icon {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 5%;
}

/* VISUAL */
.visual {
  position: relative;
  display: block;
}

.visual-main {
  display: block;
  max-width: 1900px;
  height: calc(100vh - 155px);
  background: url(../images/visual_1.jpg) no-repeat center;
  background-size: cover;
  margin: 0 auto;
}

/* INTRO */
.intro {
  position: relative;
  display: block;
  margin: 0 5%;
  padding-top: 120px;
}

.intro span {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #111;
  margin-bottom: 20px;
}

.intro h2 {
  display: block;
  width: 100%;
  font-size: 45px;
  font-family: 'Noto Serif KR', serif;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.08em;
  margin-bottom: 40px;
}

.intro > p {
  display: block;
  width: 100%;
  font-size: 17px;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;
  color: #888;
  margin-bottom: 120px;
}

.intro-main {
  position: relative;
  display: block;
  width: 100%;
}

.intro-main li {
  width: calc(100% / 3);
  font-family: 'EliceDigitalBaeum_Regular',serif;
  text-align: center;
  line-height: 1.4;
  float: left;
}

.intro-main li a img {
  width: 100%;
  margin-bottom: 25px;
}

.intro-main li a h3 {
  width: 90%;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.08em;
  margin: 0 auto;
  margin-bottom: 10px;
}
.intro-main li a p {
  width: 90%;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: #888;
  margin: 0 auto;
  background-attachment: fixed;
}

/* BEST */
.best {
  position: relative;
  display: block;
  text-align: center;
  margin: 150px 5%;
}

.best h2 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 48px;
}

.best h2::after {
  content: '';
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 35px;
  height: 2px;
  background: #111;
}

.best > p {
  font-size: 16px;
  color: #aaa;
  margin-bottom: 60px;
}

.best-item {
  display: inline-block;
  width: calc(100% / 3) * 2;
  margin: 0 auto;
}

.best-item li {
  width: 50%;
  float: left;
}

.best-item li a img {
  width: 85%;
  margin-bottom: 25px;
}

.best-item li a h3 {
  width: 85%;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin: 0 auto;
  padding-bottom: 12px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 12px;
}

.best-item li a p {
  width: 90%;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #aaa;
  margin-bottom: 8px;
}

.best-item li a span {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

/* NEW */
.new {
  position: relative;
  display: block;
  text-align: center;
  margin: 70px 5%;
}

.new h2 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 48px;
}

.new h2::after {
  content: '';
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 35px;
  height: 2px;
  background: #111;
}

.new > p {
  font-size: 16px;
  color: #aaa;
  margin-bottom: 60px;
}

.new-item {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
}

.new-item li {
  width: 25%;
  float: left;
}

.new-item li a img {
  width: 90%;
  margin-bottom: 20px;
}

.new-item li a h3 {
  /* 수정필요 */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  width: 90%;
  min-height: 90px;
  font-family: 'EliceDigitalBaeum_Regular',serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin: 0 auto;
  padding-bottom: 12px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 12px;
}

.new-item li a span {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

/* BRAND */

/* REVIEW */

/* MEDIA */